.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.container-components {
  grid-column: span 10 / span 10;
  width: 100%;
  text-align: left;
}
.input-search {
  padding: 1em;
  border: 1px solid #bdbdbd;
  width: 30vh;
  left: 0;
}
.form-error {
  width: 100%;
  color: red;
  font-size: 12px;
}
.form-input-error {
  border: red 1px solid;
}
